<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

@model AffairsManager.Models.Affairs
@{
    Layout = null;
}
<div class="center"> 
    <div class="header">Add</div>

    @using (Html.BeginForm())
        {
            <p>Name:        @Html.TextBoxFor(x => x.Name, new { @maxlength = "100"})        </p>
            <p>Description: @Html.TextBoxFor(x => x.Description) </p>
            <p>Category:    @Html.TextBoxFor(x => x.Category)    </p>
    
            <input type="submit" value="Сохранить"/>
    }
 </div>

