
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

<div class="dottedSheet">
    <p class="header">Список дел</p>
    @if (Model != null && Model.Count > 0 && ViewBag.Warning == null)
    {
        <table> 
            @foreach (AffairsManager.Models.Affairs b in Model)
                {
                   <tr>
                       <td valign="bottom">
                           @switch (b.Importance)
                           {
                               case "Green":
                                <i class="material-icons cl-green">label</i>
                                   break;
                               case "Red":
                                <i class="material-icons cl-red">label</i>
                                   break;
                               case "Orange":
                                <i class="material-icons cl-orange">label</i>
                                   break;
                           }
                       </td>

                       <td width="210">@b.Name</td>
                       <td ><label for="go">
                                 <i class="material-icons cursorPointer">keyboard_arrow_down</i> </label></td>
                       <td> <i class="material-icons cursorPointer">more_vert</i></td>
                   </tr>

                   <tr> <td>                                        </td>
                        <td width="@b.Name.Length"><input id="go" type="checkbox" />  
                            <label class="description"> @b.Description</label></td>
                  </tr>
                 }
        </table>
    }

    else
    {
        <p class="center">&#8249;пустo&#8250;</p>
    }
</div>
