
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />



    @if (Model != null && Model.Count > 0 && ViewBag.Warning == null)
    {
        <table border="1" class="padding-margin-main-sheet padding-bottom-70">
            @foreach (AffairsManager.Models.Affairs b in Model)
                {
                <tr>
                    <td>
                        @switch (b.Importance)
                        {
                            case "Green":
                                <i class="material-icons cl-green size-30">label</i>
                                break;
                            case "Red":
                                <i class="material-icons cl-red size-30">label</i>
                                break;
                            case "Orange":
                                <i class="material-icons cl-orange size-30">label</i>
                                break;
                        }
                    </td>

                    <td class="info" width="400"><a id="name" href="/Home/Edit/@b.Id">@b.Name</a></td>

                    <td align="right"><a href="/Home/Edit/@b.Id"><i class="material-icons button size-27">edit</i></a></td>
                    <td align="left"><i class="material-icons button size-37">delete</i></td>
                </tr>
            }
        </table>
    }

    else
    {
        <p class="center">&#8249;пустo&#8250;</p>
    }

