<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
@model AffairsManager.Models.Affairs
@{
    Layout = null;
}

<a id="a-button" href="/Home/Index">
    <i class="material-icons alig-top">home</i>
    Домой
</a>


<table class="dottedSheet padding bigText"> 
    <tr>
        <td  class="italic dark">Катерогия:</td>
        <td>@switch (Model.Importance)
    {
        case "Green":
             <label>Неважное(<i class="material-icons cl-green">label</i>)</label>
                break;
        case "Red":
             <label>Крайне важное (<i class="material-icons cl-red">label</i>)</label>
                break;
        case "Orange":
              <label>Важное(<i class="material-icons cl-orange">label</i>)</label>
                break;
        }
        </td>
    </tr>
    <tr>
        <td class="italic dark">Название:</td>
        <td><div> @Model.Name</div></td>
    </tr>
    <tr>
        <td class="italic dark">Описание:</td>
        <td><div> @Model.Description</div></td>
    </tr>
    <tr>
        <td class="italic dark">Дата создания:</td>
        <td><div> @Model.Date.ToShortDateString()&ensp;г&emsp;в&ensp;@Model.Date.ToShortTimeString() </div></td>
    </tr>

    </table>

