@model AffairsManager.Models.Affairs
@{
    Layout = null;
}

<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        <p>Name:        @Html.TextBoxFor(x => x.Name)        </p>
        <p>Description: @Html.TextBoxFor(x => x.Description) </p>
        <p>Category:    @Html.TextBoxFor(x => x.Category)    </p>

        <input type="submit" value="Сохранить" />
    }

