<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
@{
    Layout = null; //"~/Views/Shared/_Layout.cshtml";
}

<a href="/Home/Index">
    <i class="material-icons button size-39">home</i>
</a>

<div class="dotted-sheet">
    <table  class="padding-margin-main-sheet">
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2" valign="top">@Html.Partial("Search")</td>
            <td colspan="2">@Html.Partial("Sort")</td>
        </tr>
        <tr>
           
            <td height="80" valign="top" align="right">
                <a href="/Home/AddAffair">
                    <i class="material-icons button size-40">add_circle_outline</i>
                </a>
            </td>
            <td height="80" valign="top" align="left">
                <a href="/Home/ChooseRandomAffair">
                    <i align="right" class="material-icons button size-39">casino</i>
                </a>
            </td>
        </tr>


        @if (Model != null && Model.Count > 0 && ViewBag.Warning == null)
        {

            foreach (AffairsManager.Models.Affairs b in Model)
            {
                <tr>
                    <td>
                        @switch (b.Importance)
                    {
                        case "Green":
                                <i class="material-icons cl-green size-30">label</i>
                                break;
                            case "Red":
                                <i class="material-icons cl-red size-30">label</i>
                                break;
                            case "Orange":
                                <i class="material-icons cl-orange size-30">label</i>
                                break;
                        }
                    </td>

                    <td> <p class="info nameAHref"><a id="name" href="/Home/Edit/@b.Id">@b.Name</a></p></td>

                    <td align="right"><a href="/Home/Edit/@b.Id"><i class="material-icons button size-27">edit</i></a></td>
                    <td align="left"><i class="material-icons button size-37">delete</i></td>
                </tr>
            }

        }

        else
        { 
            <tr>
                <td> </td>
                <td align="center"> &#8249;пустo&#8250;</td>
          </tr>
        }

    </table>
</div>