<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<ul id="mainMenu">
    <li> <a href="/Home/AddAffair">
            <i class="material-icons alig-top"> add_circle_outline</i>
            Добавить
        </a> </li>
    <li> <a href="2.html">
            <i class="material-icons alig-top">search</i>
            Найти
        </a> </li>
    <li> <a href="3.html">
            <i class="material-icons alig-top">sort</i>
            Упорядочить
        </a> </li>
    <li> <a href="/Home/ChooseRandomAffair">
            <i class="material-icons alig-top">casino</i>
            Случайное
        </a> </li>
</ul>

