<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<table border="1" class="padding-margin-main-sheet">
    <tr>
        <td>@Html.Partial("Search")</td>
        <td  colspan="2">@Html.Partial("Sort")</td>
    </tr>

    <tr height="80">
        <td></td>
        <td valign="top" align="right">
        <a href="/Home/AddAffair"><i class="material-icons button size-40">add_circle_outline</i>
        </a></td>

        <td valign="top" align="left">
        <a href="/Home/ChooseRandomAffair"><i align="right" class="material-icons button size-39">casino</i>
        </a></td>
    </tr>
</table>
