<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
@model AffairsManager.Models.Affairs
@{
    Layout = null;
}

<a href="/Home/Index">
    <i class="material-icons alig-top">home</i>
    Домой
</a>
@using (Html.BeginForm())
{
    <div class="dottedSheet padding">
        <div class="header">Нужно сделать сейчас</div>
           <div class="bigText center">
                    @switch (Model.Importance)
                    {
                        case "Green":
                            <i class="material-icons cl-green">label</i>
                            break;
                        case "Red":
                            <i class="material-icons cl-red">label</i>
                            break;
                        case "Orange":
                            <i class="material-icons cl-orange">label</i>
                            break;
                    }
                
               @Model.Name 
               </div>
</div>
    }
