<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

<form method="get" action="~/Home/Search">

    <input name="request" class="component-style search-style" type="text" placeholder="Поиск"  autocomplete="off" /><select class="selected-style component-style" name="searchCriteria">

        <option disabled>   Искать по  </option>
        @if (ViewBag.SelectedCriteria != null)
        {
            if (ViewBag.SelectedCriteria.ToString() == "Name")
            {
                <option selected value="@ViewBag.SelectedCriteria.ToString()">
                    Имени
                </option>
            }
            else
            {
                <option value="Name">
                    Имени
                </option>
            }
            if (ViewBag.SelectedCriteria.ToString() == "Description")
            {
                <option selected value="Description">
                    Описанию
                </option>
            }
            else
            {
                <option value="Description">
                    Описанию
                </option>
            }
            if (ViewBag.SelectedCriteria.ToString() == "All")
            {
                <option selected value="All">
                    Любое совпадение
                </option>
            }
            else
            {
                <option value="All">
                    Любое совпадение
                </option>
            }
        }
        else
        {
            <option value="Name">Имени</option>
            <option value="Description">Описанию</option>
            <option selected value="All">Любое совпадение</option>
        }
    </select><button type="submit" class="button-style valign-top">
    <i class="material-icons size-27">search</i>
</button>
   
</form>
<div class="unimportant-info"> @ViewBag.Warning</div>
@if (ViewBag.Warning == null)
{
    <div class="unimportant-info"> @ViewBag.Message</div>
}