<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<i class="material-icons">sort</i>

<form method="get" action="~/Home/Sort">
    <p>
        <button value="New"       name="sortCriteria"> Сначала новые  </button>
        <button value="Important" name="sortCriteria"> Сначала важные </button>
    </p>
</form>
