body {
    font-family: 'Merriweather', serif;
    color: #594242;
    background-image: url(http://www.niceimage.ru/pic/201305/1366x768/niceimage.ru-49636.jpg);
}

.dottedSheet {
    display: table;
    width: auto;
    margin: auto;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 10px;
    letter-spacing: 2px;
    background: #fdf4e3;
    border: 2px dashed #8c1f1f;
    color: #5e2916;
    box-shadow: 0 0 0 7px #fdf4e3;
}

.header {
    font-size: 50px;
    text-align:center;
    margin-bottom:35px;
}

.center{
    text-align:center;
}

.description, #go {
    display: none;
}

    #go:checked ~ .description {
        display: block;
    }

.material-icons.cursorPointer {
    cursor: pointer;
}

.material-icons.cl-green {
    color:forestgreen;
}
.material-icons.cl-red {
    color: red;
}
.material-icons.cl-orange {
    color: darkorange;
}

.textRed {
    color: red;
}

.textGreen {
    color: forestgreen;
}

.textOrange {
    color: darkorange;
}

li {
    display: inline-block; /* Строчно-блочные элементы */
    margin-right: -4px; /* Расстояние между пунктами меню */
    border-left-style: solid;
    border-left-width: 2px;
    border-color: #fdf4e3;
}

#menu li:first-child {
    border-left-style: none;
}
button:hover, a:hover {
    background: #5e392b; /* Цвет фона при наведении курсора мыши */
}

button, a {
    color: #fdf4e3; /* Цвет текста ссылок */
    background: #5e2916; /* Цвет фона */
    padding: 7px 15px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    font-size: 20px;
}

button:active, button:focus {
        outline: none;
        background: #5e392b;
    }
.outline {
    outline-color: #8c1f1f;
}
button {
    border: none;
    font-family: 'Merriweather', serif;
}

.material-icons {
    vertical-align:text-top;
}

ul {
    text-align: center;
}

.dottedSheet.padding {
    padding: 10px;
}

textarea {
    resize:vertical;
}

.padding-left {
    padding-left: 5px;
}
.margin-top {
    margin-top:35px;
}
.bigText {
    font-size: 27px;
    text-align: center;
    margin-bottom: 35px;
}