body {
    font-family: 'Merriweather', serif;
    color: #594242;
    background-image: url(http://www.niceimage.ru/pic/201305/1366x768/niceimage.ru-49636.jpg);
}

.dottedSheet {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 15px 20px 30px 20px; 
    letter-spacing: 2px;
    background: #fdf4e3;
    border: 2px dashed #8c1f1f;
    color: #594242;
    box-shadow: 0 0 0 7px #fdf4e3;
}

.header {
    font-size: 50px;
    text-align:center;
}

.center{
    text-align:center;
}

.description, #go {
    display: none;
}

    #go:checked ~ .description {
        display: block;
    }

.material-icons.cursorPointer {
    cursor: pointer;
    padding-right:5px;
    padding-left:5px;
}

.material-icons.cl-green {
    color:forestgreen;
}
.material-icons.cl-red {
    color: red;
}
.material-icons.cl-orange {
    color: darkorange;
}