body {
    font-family: 'Merriweather', serif;
    color: #594242;
    background-image: url(http://www.niceimage.ru/pic/201305/1366x768/niceimage.ru-49636.jpg);
}

.dottedSheet {
    display: table;
    width: auto;
    margin: auto;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 10px;
    letter-spacing: 2px;
    background: #fdf4e3;
    border: 2px dashed #8c1f1f;
    color: #5e2916;
    box-shadow: 0 0 0 7px #fdf4e3;
}

.header {
    font-size: 50px;
    text-align:center;
}

.center{
    text-align:center;
}

.description, #go {
    display: none;
}

    #go:checked ~ .description {
        display: block;
    }

.material-icons.cursorPointer {
    cursor: pointer;
}

.material-icons.cl-green {
    color:forestgreen;
}
.material-icons.cl-red {
    color: red;
}
.material-icons.cl-orange {
    color: darkorange;
}

.textRed {
    color: red;
}

.textGreen {
    color: forestgreen;
}

.textOrange {
    color: darkorange;
}

li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #5e2916; /* Цвет фона */
    margin-right: -4px; /* Расстояние между пунктами меню */
    border-left-style: solid;
    border-left-width: 2px;
    border-color: #fdf4e3;
}

#mainMenu li:first-child {
    border-left-style: none;
}

li:hover {
    background: #5e392b; /* Цвет фона при наведении курсора мыши */
}

a {
    color: #fdf4e3; /* Цвет текста ссылок */
    display: block; /* Блочный элемент */
    padding: 5px 15px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    font-size: 20px;
}


.material-icons.alig-top {
    vertical-align: text-top; /*sub;*/
}

ul {
    text-align: center;
}