<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

@model AffairsManager.Models.LoginModel

@{
    Layout = null;
}


<a href="/Account/Register" class="button-style right-align margin-left-30">
    Зарегистрироваться
</a>
<a href="/Account/Login" class="button-style right-align margin-left-30">
    Войти
</a>
<br>
<div class="dotted-sheet">
    Здесь будет рассказано о приложении
</div>
